@import "globals.scss";
@import "colors";

@media (max-width: 600px) {
    .main {
        display: flex;
        width: 100vw;
        height: 100vh;
        background-color: $dark-grey;
        // background-image: url("../public/wallpaper.jpg");
        // background-size: contain;
        // background-position-y: top;
        // justify-content: center;
        // background-repeat: no-repeat;
        // overflow-x: hidden;
    }
    .grid {
        width: vw;
        flex-direction: column;
    }
    .wallpaper {
        display: flex;
        width: 100%;
        height: auto;
        max-width: 600px;
        margin: 0 auto;
        overflow-x: hidden;
    }
}

.container {
    height: 100%;
    background-color: $dark-grey;
}
